.admin-types-component__table {
  width: 100%;
}

.admin-types-component-section {
  margin: 1rem;
  padding-top: 1rem;
  position: relative;
}

.admin-types-component__action {
  margin-right: 1rem;
}

.admin-types-component--loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-types-component__filter {
  margin: 0 1rem;
}

.admin-types-component__new-type {
  margin: 1rem;
}
