.app-header {
  color: white;
}

footer {
  background-color: #3f51b5;
  color: #7986cb;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: rgba(255, 255, 255, 0.92);
  text-decoration: none;
  color: #7986cb;
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.logo-toolbar {
  padding-top: 6px;
}

.menu-user-name {
  font-size: 1rem;
  margin-right: 10px;
}

.toolbar-button {
  font-size: 1rem;
}

.author {
  font-size: 0.7rem;
}

.footer-icons {
  transform: scale(1.6);
  margin: 15px;
}

.social a {
  margin: 5px 10px;
}

.toolbar-header {
  max-height: 55px;
}

.subpage-title {
  font-size: 1.6rem;
  font-weight: 100;
}

.index-toolbar-gt-xs {
  height: 200px;
}

.index-toolbar-gt-xs h1 {
  font-weight: 100;
  font-size: 4rem;
}

.index-toolbar-gt-xs h2 {
  margin-top: 30px;
  font-weight: 100;
}

.index-toolbar-xs {
  height: 100px;
}

.index-toolbar-xs h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

.index-toolbar-xs h2 {
  font-weight: 100;
  margin-top: 10px;
  font-size: 0.8rem;
}
