<mat-toolbar color="primary" class="mat-elevation-z5 app-header">
  <mat-toolbar-row>
    <a class="logo-toolbar" [routerLink]="['/']">
      <img src="assets/images/easydom_logo.png" height="44px" />
    </a>
    <span class="fill-remaining-space"></span>
    <button
      *ngIf="isLogged()"
      class="logout_button tooltip"
      mat-mini-fab
      (click)="logout()"
      matTooltip="Log out"
      matTooltipPosition="before"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <a href="https://www.linkedin.com/in/jaime-torres-benavente-b9a191a2"
    ><img src="assets/images/linkedin.png" height="50px"
  /></a>
  <a href="https://github.com/torresj"
    ><img src="assets/images/github.png" height="50px"
  /></a>
  <p>
    <a href="mailto:jtbenavente@gmail.com"> Jaime Torres </a>
    <span class="copy-left">&copy;</span>2019
  </p>
</footer>
