<mat-toolbar color="primary" class="app-header" *mobxAutorun>
  <mat-toolbar-row class="mat-elevation-z8 toolbar-header">
    <a class="logo-toolbar" [routerLink]="['/']">
      <img src="assets/images/easydom_logo.png" height="40px" />
    </a>
    <nav class="small-size-menu" fxHide fxShow.xs>
      <button mat-icon-button [matMenuTriggerFor]="menuPages">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menuPages="matMenu" fxShow.sm="false">
        <button mat-menu-item [routerLink]="['/']">
          Easydom
        </button>
        <button mat-menu-item *ngIf="isLogged()" [routerLink]="['/home']">
          Domótica
        </button>
        <button mat-menu-item *ngIf="isAdmin()" [routerLink]="['/admin']">
          Gestión
        </button>
      </mat-menu>
    </nav>
    <nav fxHide fxShow.gt-xs>
      <button mat-button class="toolbar-button" [routerLink]="['/']">
        Easydom
      </button>
      <button
        *ngIf="isLogged()"
        mat-button
        class="toolbar-button"
        [routerLink]="['/home']"
      >
        Domótica
      </button>
      <button
        *ngIf="isAdmin()"
        mat-button
        class="toolbar-button"
        [routerLink]="['/admin']"
      >
        Gestión
      </button>
    </nav>

    <span class="fill-remaining-space"></span>
    <h1 class="menu-user-name">{{ getUserName() }}</h1>
    <button class="user_button" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon class="user-icon">perm_identity</mat-icon>
    </button>
    <mat-menu class="toolbar-menu" #menu="matMenu">
      <button *ngIf="isLogged()" mat-menu-item [routerLink]="['/profile']">
        Perfil
      </button>
      <button mat-menu-item (click)="isLogged() ? logout() : login()">
        {{ isLogged() ? "Logout" : "Login" }}
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="mat-elevation-z2"
    *ngIf="
      store.toolbarPageLinks.length > 0 &&
      store.toolbarPageLinks[0].label === 'Inicio'
        ? false
        : true
    "
  >
    <a
      *ngFor="let link of store.toolbarPageLinks; index as i"
      [routerLink]="link.url"
      class="subpage-title-a"
      ><h1 class="subpage-title">
        {{ link.label
        }}<span
          *ngIf="i < store.toolbarPageLinks.length - 1"
          class="subpage-title-separator"
          >-</span
        >
      </h1></a
    >
  </mat-toolbar-row>
  <mat-toolbar-row
    fxLayout="column"
    fxLayoutAlign="center center"
    class="mat-elevation-z2"
    *ngIf="
      store.toolbarPageLinks.length > 0 &&
      store.toolbarPageLinks[0].label === 'Inicio'
        ? true
        : false
    "
    [ngClass.gt-xs]="{ 'index-toolbar-gt-xs': true }"
    [ngClass.xs]="{ 'index-toolbar-xs': true }"
    ><h1>
      Easydom
    </h1>
    <h2>
      Domótica para experimentar
    </h2>
  </mat-toolbar-row>
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer fxLayout="column">
  <section class="social" fxLayoutAlign="center center">
    <a
      href="https://www.linkedin.com/in/jaime-torres-benavente-b9a191a2"
      fxLayoutAlign="center center"
    >
      <mat-icon
        color="accent"
        class="footer-icons"
        svgIcon="linkedin"
      ></mat-icon
      >linkedin</a
    >
    <a href="https://github.com/torresj" fxLayoutAlign="center center"
      ><mat-icon color="accent" class="footer-icons" svgIcon="github"></mat-icon
      >Github</a
    >
  </section>
  <section class="author" fxLayoutAlign="center center">
    <a href="mailto:jtbenavente@gmail.com"> Jaime Torres </a>
    <span class="copy-left">&copy;</span>2019
  </section>
</footer>
