<mat-toolbar color="primary" class="mat-elevation-z2 app-header">
  <mat-toolbar-row>
    <a class="logo-toolbar" [routerLink]="['/']">
      <img src="assets/images/easydom_logo.png" height="40px" />
    </a>
    <button mat-button class="toolbar-button" [routerLink]="['/']">
      Easydom
    </button>
    <button
      *ngIf="isLogged()"
      mat-button
      class="toolbar-button"
      [routerLink]="['/home']"
    >
      Domótica
    </button>
    <button
      *ngIf="isAdmin()"
      mat-button
      class="toolbar-button"
      [routerLink]="['/admin']"
    >
      Gestión
    </button>

    <span class="fill-remaining-space"></span>
    <h1 class="menu-user-name">{{ getUserName() }}</h1>
    <button class="user_button" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu class="toolbar-menu" #menu="matMenu">
      <button *ngIf="isLogged()" mat-menu-item [routerLink]="['/profile']">
        Perfil
      </button>
      <button mat-menu-item (click)="isLogged() ? logout() : login()">
        {{ isLogged() ? "Logout" : "Login" }}
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <a href="https://www.linkedin.com/in/jaime-torres-benavente-b9a191a2"
    ><img src="assets/images/linkedin.png" height="50px"
  /></a>
  <a href="https://github.com/torresj"
    ><img src="assets/images/github.png" height="50px"
  /></a>
  <p>
    <a href="mailto:jtbenavente@gmail.com"> Jaime Torres </a>
    <span class="copy-left">&copy;</span>2019
  </p>
</footer>
