.dom-section {
  padding-bottom: 50px;
}

.dom-section img {
  width: 100%;
}

.tec-section img {
  width: 100%;
}

.top-right-img {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.img-container {
  position: relative;
  text-align: center;
}
.img-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.index-section-title-gt-xs {
  color: rgb(161, 161, 161);
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
}

.index-section-title-xs {
  color: rgb(161, 161, 161);
  margin-top: 2%;
  font-size: 1.2rem;
}

.index-section-p-gt-xs {
  color: rgb(124, 124, 124);
  font-size: 1rem;
  max-width: 650px;
  text-align: justify;
  padding: 0px 20px;
}

.index-section-p-xs {
  color: rgb(124, 124, 124);
  font-size: 0.8rem;
  text-align: justify;
  padding: 0px 20px;
}

.card {
  color: rgb(124, 124, 124);
  width: 300px;
  height: 284px;
  padding-top: 30px;
  text-align: justify;
  margin: 0 30px;
}

.card-md {
  color: rgb(124, 124, 124);
  width: 300px;
  height: 284px;
  padding-top: 30px;
  text-align: justify;
  margin: 0 10px;
}

.card-lt-md {
  color: rgb(124, 124, 124);
  width: 300px;
  height: 284px;
  padding-top: 30px;
  text-align: justify;
  margin: 10px 10px;
  font-size: 0.5rem;
}

.card-section {
  margin-top: 50px;
}

.card-section-lt-md {
  margin-top: 25px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 30px;
}

.tab-content {
  max-width: 650px;
}

.project-tabs-section {
  margin-top: 20px;
}

.tab-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.tab-content p {
  padding: 0 20px;
}

.tab-logos img {
  margin: 0 10px 0 30px;
}
.angular-logo {
  margin-right: 0 !important;
}

.tab-logos {
  margin-top: 20px;
}

.tab-logos a {
  text-decoration: none;
  color: rgb(124, 124, 124);
}

.project-tabs-section-p-gt-xs {
  color: rgb(124, 124, 124);
  font-size: 1rem;
  max-width: 650px;
  text-align: justify;
}

.project-tabs-section-p-xs {
  color: rgb(124, 124, 124);
  font-size: 0.8rem;
  text-align: justify;
}

.esp32-img {
  margin: 30px 0;
  max-width: 60%;
}

.diagram-img {
  margin: 30px 0;
  max-width: 80%;
}
