.admin-type-component section {
  margin: 1.5rem;
}

.admin-type-component section h3 {
  margin: 0;
  color: #ff4081;
  font-size: 1.5rem;
}

.admin-type-component--error {
  color: red;
  margin-top: 5rem;
}

.admin-type-component-info span {
  font-size: 0.9rem;
}

.admin-type-component-info__label {
  width: 8rem;
  text-align: end;
  color: grey;
}

.admin-type-component-info__content {
  margin-left: 1rem;
}

.admin-type-component-info-content__type {
  margin-right: 1rem;
}

.admin-type-component--loading {
  padding-top: 5rem;
}
