.admin-component-section {
  max-width: 80rem;
}

.admin-component__a {
  text-decoration: none;
}

.admin-component-card {
  max-width: 20rem;
  min-height: 6rem;
  margin: 1.5rem;
}

.admin-component-card__title {
  display: flex;
  align-items: center;
}

.admin-component-card__icon {
  margin-right: 0.5rem;
}
