<article class="admin-house-create" fxLayout="column" *mobxAutorun>
  <section class="admin-house-create__formSection">
    <form
      class="admin-house-create__form"
      [formGroup]="createForm"
      fxLayout="column"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field color="accent" appearance="standard">
        <mat-label>Nombre *</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formControl('name').invalid"
          >Este campo es obligatorio</mat-error
        >
      </mat-form-field>
      <mat-form-field color="accent" appearance="standard">
        <mat-label>Descricpión</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field color="accent" appearance="standard">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field color="accent" appearance="standard">
        <mat-label>Latitud</mat-label>
        <input matInput type="number" formControlName="latitude" />
      </mat-form-field>
      <mat-form-field color="accent" appearance="standard">
        <mat-label>Longitud</mat-label>
        <input matInput type="number" formControlName="longitude" />
      </mat-form-field>
      <button
        mat-raised-button
        class="profile-component-create__form__button"
        color="accent"
        [disabled]="store.loading"
      >
        <div
          *ngIf="store.loading"
          class="profile-component-edit__form__spinner"
          fxLayoutAlign="center center"
        >
          <mat-spinner color="accent" diameter="35"></mat-spinner>
        </div>
        <span *ngIf="!store.loading">Crear</span>
      </button>
    </form>
  </section>
</article>
