<article class="admin-users-component">
  <section class="admin-users-component-section mat-elevation-z8">
    <div
      class="admin-users-component--loading"
      *ngIf="dataSource.loading$ | async"
    >
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <mat-form-field color="accent" class="admin-users-component__filter">
      <input type="search" matInput placeholder="Filtrar" #searchBox />
    </mat-form-field>
    <mat-form-field color="accent" class="admin-users-component__filter">
      <mat-label>Tipo de usuario</mat-label>
      <mat-select
        [(value)]="filterTypeUser"
        (selectionChange)="onChangeSelect()"
      >
        <mat-option></mat-option>
        <mat-option value="ADMIN">Administrador</mat-option>
        <mat-option value="USER">Usuario</mat-option>
        <mat-option value="STATION">Estación</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      color="primary"
      class="admin-users-component__new-user"
      mat-raised-button
      [routerLink]="'/admin/users/create'"
    >
      Crear usuario
    </button>
    <section class="admin-users-component-container-table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="admin-users-component__table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>

        <ng-container matColumnDef="numLogins">
          <th mat-header-cell *matHeaderCellDef>Logins</th>
          <td mat-cell *matCellDef="let element">{{ element.numLogins }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Apellidos</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="lastConnection">
          <th mat-header-cell *matHeaderCellDef>Últ. Conexión</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastConnection | date: "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <section class="admin-users-component__actions">
              <a
                [routerLink]="'/admin/users/' + element.id"
                class="admin-users-component__action"
              >
                <mat-icon color="primary" matTooltip="Ver usuario"
                  >visibility</mat-icon
                >
              </a>
              <a
                [routerLink]="'/admin/users/' + element.id + '/edit'"
                class="admin-users-component__action"
              >
                <mat-icon color="primary" matTooltip="Editar usuario"
                  >create</mat-icon
                >
              </a>
              <a
                [routerLink]=""
                (click)="removeUser(element)"
                class="admin-users-component__action"
              >
                <mat-icon color="primary" matTooltip="Borrar usuario"
                  >delete</mat-icon
                >
              </a>
            </section>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns$ | async"
        ></tr>
      </table>
    </section>

    <mat-paginator
      [length]="dataSource.totalElements$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[1, 10, 20, 30]"
    ></mat-paginator>
  </section>
</article>
