<section
  class="login-wrapper"
  fxLayout="row"
  fxLayoutAlign="center center"
  *mobxAutorun
>
  <mat-card class="box mat-elevation-z8" [ngClass.xs]="{ 'login-xs': true }">
    <mat-card-header>
      <mat-card-title class="login-title">Login</mat-card-title>
    </mat-card-header>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="user-login example-full-width" color="accent">
          <input matInput formControlName="username" placeholder="Usuario" />
        </mat-form-field>

        <mat-form-field class="pass-login example-full-width" color="accent">
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Contraseña"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        [disabled]="store.loading"
        mat-stroked-button
        color="accent"
        class="btn-block"
      >
        <div *ngIf="submitted && store.loading" class="spinner">
          <mat-spinner color="accent" diameter="40"></mat-spinner>
        </div>
        <span *ngIf="!store.loading">Iniciar sesión</span>
      </button>
      <mat-error class="error" *ngIf="store.error !== ''">{{
        store.error
      }}</mat-error>
    </form>
  </mat-card>
</section>
