<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="login-title">Log in</mat-card-title>
    </mat-card-header>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="user-login example-full-width" color="primary">
          <input
            matInput
            color="primary"
            formControlName="username"
            placeholder="Username"
          />
        </mat-form-field>

        <mat-form-field class="pass-login example-full-width">
          <input matInput formControlName="password" placeholder="Password" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">
        Log in
      </button>
    </form>
  </mat-card>
</div>
