<article
  class="admin-user-component"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  *mobxAutorun
>
  <section
    *ngIf="!store.error && store.loading"
    class="admin-user-component--loading"
  >
    <mat-spinner
      class="admin-user-component__spinner"
      color="accent"
    ></mat-spinner>
  </section>
  <section
    *ngIf="store.error && !store.loading"
    class="admin-user-component--error"
  >
    <h1>{{ store.error }}</h1>
  </section>
  <section
    *ngIf="!store.error && !store.loading"
    class="admin-user-component__user"
    fxLayout="column wrap"
    fxLayoutAlign="start center"
  >
    <h3>Información de {{ (user | async)?.username }}</h3>
    <mat-list class="admin-user-component-info">
      <mat-list-item>
        <span class="admin-user-component-info__label">ID:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.id
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Usuario:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.username
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Num. Logins:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.numLogins ? (user$ | async)?.numLogins : 0
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Nombre:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.name
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Apellidos:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.lastName
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Email:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.email
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Teléfono:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.phoneNumber
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Tipo:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.role
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label">Fecha creación:</span>
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.createAt | date: "medium"
        }}</span></mat-list-item
      >
      <mat-list-item>
        <span class="admin-user-component-info__label"
          >Fecha últ. conexión:</span
        >
        <span class="admin-user-component-info__content">{{
          (user$ | async)?.lastConnection | date: "medium"
        }}</span></mat-list-item
      >
    </mat-list>
  </section>
  <section
    *ngIf="!store.error && !store.loading"
    class="admin-user-component__houses"
    fxLayout="column wrap"
    fxLayoutAlign="start center"
  >
    <h3>Casas</h3>
    <mat-list>
      <mat-list>
        <mat-list-item *ngIf="(houses$ | async).length === 0">
          Usuario sin casas asociadas</mat-list-item
        >
        <mat-list-item *ngFor="let house of houses$ | async">
          <mat-icon mat-list-icon>home</mat-icon>
          <a [routerLink]="'/admin/houses/' + house.id">{{ house.name }}</a>
        </mat-list-item>
      </mat-list>
    </mat-list>
  </section>
</article>
