<article class="admin-user-component">
  <section class="admin-user-component-section mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      class="admin-user-component__table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="lastConnection">
        <th mat-header-cell *matHeaderCellDef>Últ. Conexión</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastConnection | date: "medium" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns | async"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns | async"></tr>
    </table>

    <mat-paginator
      [length]="dataSource.totalElements | async"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 30]"
    ></mat-paginator>
  </section>
</article>
