.profile-component-tabSection-info span {
  font-size: 0.9rem;
}

.profile-component-tabSection-info__label {
  width: 4rem;
  text-align: end;
  color: grey;
}

.profile-component-tabSection-info__content {
  margin-left: 1rem;
}

.profile-component-edit__form {
  max-width: 20rem;
  padding: 2rem;
}

.profile-component-edit__form mat-form-field {
  margin-bottom: 1.2rem;
}

.profile-component-edit__form-lt-md {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
