<article class="profile-component" *mobxAutorun>
  <section class="profile-component-tabSection">
    <mat-tab-group>
      <mat-tab label="Datos de usuario">
        <mat-list class="profile-component-tabSection-info">
          <mat-list-item>
            <span class="profile-component-tabSection-info__label"
              >Usuario:</span
            >
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.username
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label"
              >Nombre:</span
            >
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.name
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label"
              >Apellidos:</span
            >
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.lastName
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label">Email:</span>
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.email
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label"
              >Teléfono:</span
            >
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.phoneNumber
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label">ID:</span>
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.id
            }}</span></mat-list-item
          >
          <mat-list-item>
            <span class="profile-component-tabSection-info__label">Tipo:</span>
            <span class="profile-component-tabSection-info__content">{{
              (user$ | async)?.role
            }}</span></mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Editar">
        <form
          class="profile-component-edit__form"
          [formGroup]="userForm"
          (ngSubmit)="updateUser()"
          fxLayout="column"
          [ngClass.lt-md]="{
            'profile-component-edit__form': false,
            'profile-component-edit__form-lt-md': true
          }"
        >
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" />
            <mat-error
              *ngIf="
                formControl('username').invalid &&
                (formControl('username').dirty ||
                  formControl('username').touched)
              "
              >El campo usuario es obligatorio</mat-error
            >
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Nueva contrseña *</mat-label>
            <input formControlName="password" type="password" matInput />
            <mat-error
              *ngIf="
                formControl('password').invalid &&
                (formControl('password').dirty ||
                  formControl('password').touched)
              "
              >El campo contraseña es obligatorio</mat-error
            >
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Confirmar contrseña *</mat-label>
            <input formControlName="checkPassword" type="password" matInput />
            <mat-error
              *ngIf="
                formControl('checkPassword').invalid &&
                !formControl('checkPassword').errors.mustMatch &&
                (formControl('checkPassword').dirty ||
                  formControl('checkPassword').touched)
              "
              >El campo para confirmar contraseña es obligatorio</mat-error
            >
            <mat-error
              *ngIf="
                formControl('checkPassword').invalid &&
                formControl('checkPassword').errors.mustMatch &&
                (formControl('checkPassword').dirty ||
                  formControl('checkPassword').touched)
              "
              >La contraseña debe coincidir</mat-error
            >
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input formControlName="lastName" matInput />
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput />
            <mat-error
              *ngIf="
                formControl('email').invalid &&
                (formControl('email').dirty || formControl('email').touched)
              "
              >Formato de email erróneo</mat-error
            >
          </mat-form-field>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input formControlName="phone" matInput />
          </mat-form-field>
          <button
            mat-raised-button
            class="profile-component-edit__form__button"
            color="accent"
            [disabled]="store.loading"
          >
            <div
              *ngIf="store.loading"
              class="profile-component-edit__form__spinner"
              fxLayoutAlign="center center"
            >
              <mat-spinner color="accent" diameter="35"></mat-spinner>
            </div>
            <span *ngIf="!store.loading">Actualizar</span>
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </section>
</article>
