.admin-house-edit--loading {
  margin-top: 6rem;
}

.admin-house-edit__formSection {
  max-width: 50rem;
  margin: 2rem;
}

.admin-house-edit__sensorsPanel {
  margin: 1rem 0 2rem 0;
}

.admin-house-edit__sensorSection {
  width: 100%;
}

.admin-house-edit-sensorSection__text {
  font-size: 1rem;
  padding-top: 0.3rem;
}

.admin-house-edit-sensorsPanels--noSensors {
  font-size: 0.8rem;
  color: grey;
}

.admin-house-edit-sensorSection__currentHouseText {
  font-size: 0.6rem;
  color: red;
}
